0-Search/src0
1-Knowledge/src1
2-Uncertainty/src2
3-Optimization/src3
4-Learning/src4
5-Neural_Networks/src5
6-Language/src6

5-Neural_Networks/5.0-Traffic/gtsrb

0-Search/0.0-Degrees/__pycache__
0-Search/0.0-Degrees/.vscode
0-Search/0.1-Tic-Tac-Toe/__pycache__
0-Search/Algorithms/__pycache__
0-Search/Maze/.vscode

1-Knowledge/1.0-Knights/__pycache__
1-Knowledge/1.1-Minesweeper/__pycache__
3-Optimization/3.0-Crossword/__pycache__
4-Learning/4.1-Nim/__pycache__